body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #333;
    color: #fff;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 60px;
    border-radius: 50%;
}

.logo-and-name {
    display: flex;
    align-items: center;
}

.company-name h3 {
    font-size: 22px;
    font-weight: bold;
    margin-left: 15px;

}

.right {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.right li {
    display: inline-block;
    margin-left: 20px;
}

.right li a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: all 0.3s ease;
}

.right li a:hover {
    background-color: #555;
    border-radius: 15px;
}

.about-section {
    padding: 50px 0;
    text-transform : capitalize;
    font-size : 20px;
    font-family : system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height : 1.2;
    letter-spacing: 1.5px;;

}
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top :5px;
}

.copyright {
    font-size: 14px;
}

.copyright a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
}
nav ul li .current-link
{
    color : yellow;
}
.social-container {
    display: flex;
    justify-content: center;
    align-items : flex-end;
}

.social-icon {
    display: inline-block;
    margin: 0 25px;
    transition: transform 0.3s ease;
}

.social-icon img {
    width: 40px;
    height: 40px;
}

.social-icon:hover {
    transform: scale(1.2);
}
